@charset "UTF-8";
.slide {
	margin: 50px auto;
}

#img_box {
	margin: auto;
	width: 80%;
	height: 50vh;
}

#slide_btn {
	background-color: #4e4e4e;
	border-radius: 5px;
	height: 50px;
	width: 50px;
	margin: auto;
}

.store_name_box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Gugi', cursive;
	margin-bottom: 50px;
}

.pick {
	font-size: 20px;
}

.store_data_box {
	margin-bottom: 50px;
}

#map {
	box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.rev_section {
	margin-bottom: 50px;
}

.prf_photo {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
	margin: 20px auto;
	text-align: center;
	vertical-align: center;
}

.prf_photo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.prf_name {
	text-align: center;
}

.prf_star {
	margin: 20px auto;
	text-align: center;
}

#photo_point {
	display: flex;
	align-items: center;
	margin: 25px 0;
}

#preview img{
	margin: 0 25px;
	box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}



.square_box {
	width: 100px;
	height: 100px;
	border: 1px solid #bababa;
	border-radius: 50%;
	padding: 25px;
}

.square_box img {
	width: 100%;
	height: 100%;
	margin: auto;
}

.review_box {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.review_box textarea {
	width: 80%;
	height: 150px;
}

.review_btn {
	margin: 50px auto;
}

.rev_prf {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	text-align: center;
	margin-bottom: 25px;
}

.rev_prf img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.rev_userPrf {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.rev_photoBox_div {
	display: flex;
}

.rev_photoBox {
	width: 125px;
	height: 125px;
	overflow: hidden;
	margin: 15px;
	box-shadow: rgb(3 102 214 / 30%) 0px 0px 0px 3px;
}

.rev_photoBox img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.rev_textBox {
	width: 100%;
	min-height: 150px;
	margin: 25px 0;
	padding: 15px;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.host_reply {
	width: 80%;
	min-height: 175px;
	margin: 25px 0;
	padding: 15px;
	box-shadow: rgb(136 165 191 / 48%) 6px 2px 16px 0px, rgb(255 255 255 / 80%) -6px -2px 16px 0px;
	margin-left: auto;
	background: #e9eff3;
}

.host_rpl {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	margin-left: auto;
}

.host_rpl textarea {
	width: 80%;
	min-height: 150px;
	border: none;
	box-shadow: rgb(136 165 191 / 48%) 6px 2px 16px 0px, rgb(255 255 255 / 80%) -6px -2px 16px 0px;
	padding: 15px;
	background: #e9eff3;
}

.host_rpl textarea:focus {
	outline: none;
}

.more {
	width: 250px;
}

.host_photo{
	visibility: hidden;
}

.button {
    display: flex;
    justify-content: center;
    
}

label {
    cursor: pointer;
    font-size: 1em;
}


#labelInfo0{
	display: block;	
	text-align: center;
}

#labelInfo1{
	display: none;	
}
#labelInfo2{
	display: none;	
}
#labelInfo3{
	display: none;	
}
#labelInfo4{
	display: none;	
}


