
.mb50 {
    margin-bottom: 30px;
    display: block;
    text-align: center;
    font-size: 27px;
    font-weight: bold;
}

.emptyImages {
	width: 100px;
}

.mb100 {
    margin-bottom: 100px;
}


.img-wrapper {
	position: relative;
	width: 100%;
	padding-bottom: 100%;
	overflow: hidden;
}

.img-responsive {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50, 50);
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
    border-radius: 20px;
    
}



.theme-accent-color, .navbar-default.navbar-shrink #navbar-social a:hover, .navbar-default .nav li a:hover, .navbar-default .nav li a:focus {
    color: #F22613 !important;
}



.host-item {
    margin-bottom: 50px;
}

.detail {
	display: none;
}

#details {
	margin: 20px auto;
	
}

#detail_order, #detail_region {
	text-align: left;
	margin-top: 30px;
	
}

#storedetails, #staydetails {
	background-color: lightgray;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 50px;
	border-radius: 20px;
}

#detail_storetype, #detail_staytype {
	margin-bottom: 20px;
}

#storeSection, #staySection, #emptySection {
	margin: 0 auto;	
}

#emptySection {
	display: none;
}

.information {
	margin-right:20px;
	color: gray;
	
}

.product_details_rating {
	display: inline-block;
	margin-right: 100px;
}

.limitbox {
	display: inline-block;
	margin-bottom: 20px;
	width: 100px;
	height: 24px;
}

.star-inner {
	color: gray;
	position: absolute; 
	z-index: 1;
}

.star-outer{
	color: red;
	position: relative; 
	z-index: 2;
	overflow: hidden;
	height: 24px;
	width: 100px;
}

.ratingnumber {
	color: red;
	font-size: 16px;
	margin-left: 10px;
	vertical-align: bottom;
}

.mapButton {
	display: inline-block;
	float: right;
	margin-right: 10px;
	margin-bottom: 5px;
}

.maps {
	display: none;	
}




/*아이콘 CSS*/



.travel-type-wrap {
	margin-top: 140px;
	margin-bottom: 20px;
	display: inline-flex;
  
}

#wrap_food .item, #wrap_stay .item {
	width: 200px;
	height: 100px;
	cursor: default;
}

#wrap_food .item .group-icon i, #wrap_stay .item .group-icon i {
	margin-top: 3px;
	padding-bottom: 5px;
	width: auto;
	height: auto;
} 

#wrap_food .item span, #wrap_stay .item span {
	font-size: 16px;
}

.travel-type-wrap .item {
  color: #555;
  border-radius: 3px;
  background: #fff;
  margin-right: 5px;
  padding: 18px 20px;
  transition: all .3s;
  cursor: pointer;
  position: relative;
  text-align: center;
  height: 80px;
  line-height: 10px;
  width: 120px;
}

.travel-type-wrap .item:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #002c71;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all .3s;
}

.travel-type-wrap .item .group-icon {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: center;
      justify-content: center;
  margin-bottom: 10px;
}

.travel-type-wrap .item .group-icon i {
  width: 20px;
  height: 10px;
  fill: #555;
  margin: 0 7px;
  margin-top: 10px;
}

.travel-type-wrap .item span {
  font-size: 14px;
  font-weight: bold;
}

.travel-type-wrap .item.active {
  color: #fff;
  background: #002c71;
}

.travel-type-wrap .item.active:after {
  opacity: 1;
}

.travel-type-wrap .item.active i {
  fill: #fff;
}

.travel-type-wrap .item:hover, .travel-type-wrap .item:focus {
  background: #002c71;
  color: #fff;
}

.travel-type-wrap .item:hover .group-icon i, .travel-type-wrap .item:focus .group-icon i {
  fill: #fff;
}


