
.mb50 {
    margin-bottom: 50px;
    display: block;
}

.mb100 {
    margin-bottom: 100px;
}


.img-wrapper {
	position: relative;
	width: 100%;
	padding-bottom: 100%;
	overflow: hidden;
}

.img-responsive {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50, 50);
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
    
}



.theme-accent-color, .navbar-default.navbar-shrink #navbar-social a:hover, .navbar-default .nav li a:hover, .navbar-default .nav li a:focus {
    color: #F22613 !important;
}



section h2.section-heading, .section-heading {
    margin-top: 150px;
    margin-bottom: 20px;
    font-size: 48px;
    letter-spacing: 2px;
    font-weight: 700;
}


.host-item {
    margin-bottom: 15px;
}

#details {
	margin: 20px auto;
	
}

#details_font {
	text-align: left;
	margin-top: 30px;
	
}

#storeSection, #staySection, #emptySection {
	margin: 0 auto;	
}

#emptySection {
	display: none;
}

@media (prefers-reduced-motion: reduce) {
    .collapse-horizontal {
        transition-property: height, visibility;
        transition-duration: .35s;
    }
}