@charset "UTF-8";
.notice {
	font-family: 'Gugi', cursive;
	font-size: 25px;
	margin-top: 50px;
}

.horizontal_rule {
	margin-bottom: 50px;
}

.pg_div {
	text-align: center;
	margin-bottom: 25px;
}

.write_btn_div {
	text-align: right;
	margin-bottom: 50px;
}

.contents {
	width: 80%;
	margin: auto;
}

.title {
	width: 93px;
}

.content {
	min-height: 50vh;
}

.content_btn_div {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}