.userSleepTitle {
	font-family: 'Gugi', cursive;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* position: fixed; */
    /* z-index: 80; */
    background-color: white;
    /* width: 100vw;
    top: 0px; */
    font-size: 17px;
    margin: 20px;
}
