<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.oracle.S20220601.MenuMapper">
  	<!-- 메뉴 리스트 -->
  	<select id="menuList" parameterType="int" resultType="Menu">
  		SELECT * FROM menu WHERE host_num = #{host_num}
  	</select>
  	<!-- 메뉴 등록 -->
  	<insert id="menuInsert" parameterType="Object">
  		INSERT INTO menu VALUES(1,SEQ_MENU_NUM.nextval,#{menu_name},#{menu_price})
  	</insert>
  	<!-- 메뉴 등록 -->
  	<update id="menuUpdate" parameterType="Menu" statementType="CALLABLE">
  		{
  				call MENU_UPDATE(
	  			    #{in_host_num    , mode=IN   , jdbcType=INTEGER}
	   			   ,#{in_menu_num    , mode=IN   , jdbcType=INTEGER}
	  			   ,#{in_menu_name   , mode=IN   , jdbcType=VARCHAR}
	  			   ,#{in_menu_price  , mode=IN   , jdbcType=VARCHAR}

	  			)
  			}
  	</update>
  	<delete id="menuDelete" parameterType="int">
  		DELETE FROM menu WHERE menu_num = #{menu_num}
  	</delete>
  </mapper>