@charset "UTF-8";

.cbx_agree div {line-height: 2rem;}
#chkAll  {font-weight: bold; }	
input[type="checkbox"] {
  width: 20px; 
  height: 20px; 
  margin-right: 10px
 
}
.form-check-label {

}
.room-info{
  float: right;
  background-color: lightyellow;}
  
.info p strong, .total_price strong{
    display: block !important;
    position: relative;
    margin-bottom: 6px;
    font-size: 18px !important;
    line-height: 1;
    
}
.total_price li{
	list-style-type: none;
}
.form-check label span{
	color: red;
}
.col-md-auto {
	margin-right: 5%;
	margin-left: 5%;
}
.d-flex{
	
}
input, pregress {
  accent-color: red;
}