@charset "UTF-8";

body div {
	font-size: medium;
}

.container {
	margin-top: 10%;
}

.status {
	font-size: 13px;
}

section h4 {
	font-family: 'SCoreDream', cursive;
	margin-bottom: 1rem;
}

section {
	margin-bottom: 10%;
}

.card-img-top {
	width: 100%;
	height: 11rem;
	object-fit: cover;
}
.card-body{	text-align: center;
}
.card-body span{
	display: block;
}